/* abathur.css */

body {
  max-width: 100%;
  margin: 1%;
  font: normal normal normal 16px/1.6em Open Sans, sans-serif;
  color: #333
}

@media all and (min-width:95ex) {
  body {
    max-width: 95ex;
    margin: 1% auto
  }
  .creator { float: right }
}

@media not all and (min-width:110ex) {
  .creator { float: left }
  p img {width: 95%}
}

h1, h2, h3, h4, h5, h6 {
  color: #a5573e;
  line-height: 1.6em;
  font-family: Droid Serif, serif
}

h4, h5, h6 {
  font-size: 1em
}

.tag {
  background-color: #eee;
  font-size: 80%;
  font-weight: 400;
  padding: 2px
}

.timestamp {
  color: #bebebe
}

.linenr {
  font-size: smaller
}

.code-highlighted {
  background-color: #ff0
}

#table-of-contents {
  font-size: 10pt;
  position: fixed;
  right: 0em;
  top: 0em;
  background: white;
  -webkit-box-shadow: 0 0 1em #777777;
  -moz-box-shadow: 0 0 1em #777777;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  text-align: right;
  max-height: 80%;
  overflow: auto;
}

#table-of-contents h2 {
  font-size: 10pt;
  max-width: 9em;
  font-weight: normal;
  padding-left: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}

#table-of-contents #text-table-of-contents {
  display: none;
  text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
  display: block;
  padding: 0.5em;
  margin-top: -1.5em;
}
