<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- logo -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#abNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{NAME}}</a>
    </div>

    <div class="collapse navbar-collapse" id="abNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="btnHome"><a href="/">Home</a></li>
        <li id="btnAbout"><a href="/about.html">About</a></li>
      </ul>
    </div>
  </div>
</nav>
